body{
    padding: 0;
    margin: 0;
}

.nav-con{
    width: 100%;
    height: 60px;
    background-color: darkseagreen;
}

.header-con{
    width: 100%;
    height: 800px;
    background-color: lightgray;
     background-image: url(../img/priscilla-du-preez-101759-unsplash.jpg);
    background-size: cover;
}

.overlay{
     width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,0.6);
}

.form-container{
    width: 100%;
    height: 80%;
    background-color: white;
}

.form-header{
    text-align: center;
}

.ride-con{
    width: 100%;
    height: 200px;
    background-color: lightgray;
}

.bumper-con{
    width: 20%;
    height: 50%;
    float: left;
}

.carousel-con{
    width: 20%;
    height: 50%;
    float: left;
}

.mansion-con{
    width: 20%;
    height: 50%;
    float: left;
}

.love-con{
    width: 20%;
    height: 50%;
    float: left;
}

.roller-coaster-con{
    width: 20%;
    height: 50%;
    float: left;

}

.filter-con{
    text-align: center;;
}

.thrill-o-meter{
    
}

.checked {
    color: orange;
  }

  
.spacer{
    width: 100%;
    height: 35px;
    float: left;
    /* background-color: blue; */
}

  .total-con{
      width: 100%;
      height: 20px;
      float: left;
  }

.footer-con{
    width: 100%;
    height: 60px;
    background-color: darkseagreen;
   
}

.logo-con{
    width: 80px;
    height: 60px;
    margin-left: 15px;
    background-color: orangered;
    float: left;
}

.nav-buttons-con{
    width: 250px;
    height: 60px;
    margin-right: 15px;
    /* background-color: */
    float:right;
}

.nav-buttons a li{
    display:inline;
    text-decoration:none;
    list-style: none;
    color: white;
    font-family: sans-serif;    
}
