body{
    padding: 0;
    margin: 0;
}

.nav-con{
    width: 100%;
    height: 60px;
    background-color: darkseagreen;
}

.header-con{
    width: 100%;
    height: 800px;
    background-color: ;
    background-image: url(../img/multa-media-244244-unsplash.jpg);
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,0.65);
}

.footer-con{
    width: 100%;
    height: 60px;
    background-color: darkseagreen;
}

.logo-con{
    width: 80px;
    height: 60px;
    margin-left: 15px;
    background-color: orangered;
    float: left;
}

.nav-buttons-con{
    width: 250px;
    height: 60px;
    margin-right: 15px;
    background-color:;
    float: right;
}

.nav-buttons a li{
    display:inline;
    text-decoration:none;
    list-style: none;
    color: white;
    font-family: sans-serif;
 
}

.total-here{
    
    width: 120px;
    height: 30px;
    margin:0 auto;
    background-color:  orangered;
    margin-top: 20px;
    color: white;
    font-family: sans-serif;
    
}

.input{
    margin: 0 auto;
    margin-top: 20px;
}

.buy-tickets p{
    color:  white;
    font-family: sans-serif;
}

.buy-now{
    width: 50px;
    height: 25px;
    margin:0 auto;
     margin-top: 20px;
}

.buy-now h4{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 19px;
    color: white;
    background-color: orangered;
    font-family: sans-serif;
    cursor: pointer;
}


.total-here{
    display: block;
    text-align:center;
}


.sales-con{
    width: 250px;
    height: 300px;
    background-color:darkseagreen;
    margin: 0 auto;
    margin-top: 160px;

}

.right-con{
    width: 100%;
    height: 800px;
    background-color:;
    float: right;
    
}

.form-con{
    width: 500px;
    height: 300px;
    background-color: darkseagreen;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center
}

.buy-tickets input{
    display:list-item;
}

.form-con h2{
    padding-left: 56px;
    color: white;
    font-family: sans-serif;
    
}

.dropdown{
    width: 150px;
    height: 15px;
    padding-left: 50px;
    
}

