body{
    padding: 0;
    margin: 0;
}

.nav-con{
    width: 100%;
    height: 60px;
    background-color: darkseagreen;
}

.header-con{
    width: 100%;
    height: 800px;
    /* background-color: ; */
    background-image: url(../img/multa-media-244244-unsplash.jpg);
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,0.65);
}

.form-container{
    width: 100%;
    height: 80%;
    background-color: white;
}

.ticket-type-label{
    width: 100%;
    height: 30px;
    /* background-color: lightblue; */
}

.spacer{
    width: 100%;
    height: 25px;
}

.spacer-1{
    width: 100%;
    height: 15px;
}

#single-type{
    margin-right: 120px;
}

#couple-type{
    margin-right: 120px;
}

#friends-type{
    margin-right: 120px;
}

#family-type{
    margin-right: 120px;
}

#single-price{
    margin-right: 150px;
}

#couple-price{
    margin-right: 150px;
}

#friends-price{
    margin-right: 150px;
}

#family-price{
    margin-right: 150px;
}

/* .ticket-types{
    padding: 5px;
} */

.quantities{
    word-spacing: 40px;
}

.footer-con{
    width: 100%;
    height: 60px;
    background-color: darkseagreen;
}

.logo-con{
    width: 80px;
    height: 60px;
    margin-left: 15px;
    background-color: orangered;
    float: left;
}

.nav-buttons-con{
    width: 250px;
    height: 60px;
    margin-right: 15px;
    /* background-color:; */
    float: right;
}

.nav-buttons a li{
    display:inline;
    text-decoration:none;
    list-style: none;
    color: white;
    font-family: sans-serif;

}